<div id="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#">Create Type Device</a></li>
        </ol>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-success" ng-show="errMessage">
                <strong>Alert!</strong> Can not create a new type device
            </div>
            <div class="input-group custom-control">
                <label>Name</label>
                <input type="text" class="form-control" ng-model="name">
            </div>
            <div class="input-group custom-control">
                <label>Title</label>
                <input type="text" class="form-control" ng-model="title">
            </div>
            <div class="input-group custom-control">
                <label>Description</label>
                <textarea rows="4" type="text" class="form-control" ng-model="description"></textarea>
            </div>
            <div class="btn-option-create">
                <button type="button" class="btn btn-custom" ng-click="createTypeDevice()">Save</button>
            </div>
        </div>
    </div>
</div>
