<style type="text/css">
.city-item {
    padding: 10px;
    cursor: pointer;
}

.city-content {
    border: 1px solid #CCC;
    border-radius: 5px;
}

.img-responsive .img-center {
    margin: 0 auto;
    display: inline;
}

.imgcity {
    width: 100%;
    height: 180px;
    padding: 0px;
}

.cityname {
    border-bottom: 1px solid #CCC;
    padding: 10px;
    margin-bottom: 0px;
}

.zonenumber{
    float: right;
}
</style>
<div id="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li><a ui-sref="home.location">Location</a></li>
        </ol>
    </div>
</div>
<div class="container">
    <div class="row">
        <div ng-repeat="location in allLocations">
            <div class="clearfix" ng-if="$index % 6 == 0"></div>
            <div class="city-item col-md-2" ng-click="changeLocation(location.id,location.name)">
                <div class="city-content">
                    <p class="cityname">{{location.name}}<span class="zonenumber  badge">{{location.staffnumber}}</span></p>
                    <img class=".img-responsive .img-center imgcity" ng-src="{{location.imagelocation}}" ng-model="data.cityId">
                </div>
            </div>
        </div>
    </div>
</div>
