<script src="/app/components/deviceIOT/deviceIOTScript.js"></script>
<div id="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li><a ui-sref="home.deviceiot">Device IOT Locator</a></li>
        </ol>
    </div>
</div>
<div class="container" id="content">
    <div class="row">
        <div class="col-md-12">
            <div class="action-box">
                <div class="input-group search-box">
                    <input type="text" class="form-control" id="search" ng-model="searchPeople">
                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                </div>
                <div class="select-box">
                    <select class="form-control">
                        <option>Relay</option>
                        <option>Mobile</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="clear-bottom"></div>
    <div class="row">
        <div class="col-md-12">
            <div style="overflow: scroll; height: 490px">
                <canvas id="canvas"></canvas>
            </div>
            </br>
            </br>
            <button class="btn btn-default btn-zoom" ng-click="zoomOut()" type="button" name="zoomOut" value="Zoom Out" style="width:120px">Zoom Out</button>
            <button class="btn btn-default btn-zoom" ng-click="zoomIn()" type="button" name="zoomIn" value="Zoom In" style="width:120px">Zoom In</button>
        </div>
    </div>
    <div class="clear-bottom"></div>
</div>
